<!DOCTYPE html>
<html>
    <head>
        <title>Anagram</title>
    </head>
    <body>
        <h1>Check for Anagrams</h1>
        <form action="/results" method="post">
            <label for="anagram">Enter a word:</label>
            <input type="text" name="anagram" id="anagram">
            <label for="list">Enter a list of words to check, separated by a comma:</label>
            <input type="text" name="list" id="list">
            <button type="submit">Check for Anagrams</button>
        </form>
    </body>
</html>
